<%- include partials/header.ejs %>
<main id="app">
    <div id="side-menu" class="side-menu y-stretch bg-dark text-white" ref="menu">
        <div id="menu-close" class="" v-on:click="closeMenu($refs.menu)">
            <div class="menu-bar-deco"></div>
            <div class="menu-bar-deco"></div>
        </div>
        <ul class="list-group-flush bg-dark px-0">
            <li class="list-group-item bg-dark">About</li>
            <a href="#" data-toggle="modal" data-target="#create-gig-modal"><li class="list-group-item bg-dark">Hosting a Gig?</li></a>
            <a href="#" data-toggle="modal" data-target="#create-venue-modal"><li class="list-group-item bg-dark">Add a Venue</li></a>
            <li class="list-group-item bg-dark">FAQ</li>
            <li class="list-group-item bg-dark">Contact us!</li>
        </ul>
        <div id="menu-footer" class="p-2 bg-dark">
            <p>Thanks for using Gig Finder</p>
            <p>&copy; Tom Croasdale 2020</p>
        </div>
    </div>
    <div id="map" class="w-100 y-stretch"></div>
    <div id="nav-bar" class="navbar row">
        <div id="menu-btn" class="col-2 nav-elem" v-on:click="openMenu($refs.menu)">
            <div class="menu-bar-deco"></div>
            <div class="menu-bar-deco"></div>
            <div class="menu-bar-deco"></div>
        </div>
        <form class="col-10 mx-0 p-0 input-group nav-elem" v-on:submit.prevent="doSearch">
            <input type="text" class="px-1 form-control" id="search-bar" placeholder="Search" v-model="searchQuery">
            <div class="input-group-append">
                <button type="submit" class="btn btn-dark">Go</button>
            </div>
        </form>
        <select class="badge badge-pill badge-dark" id="search-options" v-model="searchOption">
            <option>All</option>
            <option>Venue</option>
            <option>Artist</option>
            <option>City</option>
        </select>
    </div>
    <%- include modals/createVenue.ejs %>
    <%- include modals/viewVenue.ejs %>
    <%- include modals/createGig.ejs %>
    <%- include modals/viewGig.ejs %>
</main>

<%- include partials/footer.ejs %>